.subtitle {
	font-style: italic;
	font-size: small;
	display: block;
	font-weight: normal;
	color: #1a237e;
}

.pv, .tag, .pv a, .tag a, .tag a:visited, .pv a:visited {
    color: #6677b7;
    text-decoration: none;
}
.tag {
    border: 1px solid #6677b7;
    margin: 6px;
    padding: 2px;
    border-radius: 5px;
}

.left {
    height: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    box-shadow: 1px 0px 1px 0px hsl(210,0%,75%);
    width:200px;
}

nav {color: rgb(36, 41, 47);}
nav a {
  text-decoration: none;
  color: rgb(36, 41, 47)
}
nav a:visited {color:inherit;}
nav a:hover {
  color: #6677b7;
  border-right: 3px solid #6677b7;
}
nav ul {list-style-type: none;}
nav li a {
  display: block;
  padding: 10px;
  padding-left: 20px;
  text-decoration: none;
}

.left h2, .left p {margin-top: 0; margin-left: 6px;}
.left h1 {margin: 0; text-align: center; }
.left h3 {padding-left: 15px;}

.logo {display:flex; align-items: center; padding-bottom:25px; padding-left: 20px;}
.logo img {width: 50px;}

.top {
    background: #f5f5f5;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}
.pvs {
    padding-right: 50px;
    background: #f5f5f5;
    text-align: right;
}

.main {
    margin-left: 250px;
    padding-bottom: 10px;
    overflow: hidden;
}

.tool-info {
  float: left;
  width: 65%;
}

.meta-info {
  float: right;
  width: 25%;
  min-width: 200px;
  margin-top: 30px;
  background-color: hsl(210,0%,95%);
  border: solid 1px lightgray;
  padding: 10px;
  margin-right: 50px;
}

.meta-info p {
  font-size: small;
}

body {
	margin-left: 0;
	color:black;
	font-family: sans-serif
}

blockquote {border: 1px solid #004D40; padding: 10px}
.red, .red a, .red a:visited, .cool a, .cool a:visited {color:#fb3640}
a, a:visited, a.blue, a.blue:visited {color:#1a237e}
a.broken, a.broken:visited {color: #da237e}
.red a:hover {font-weight:bold}
.c {text-align:center; font-weight:bold}
.c h1, .c h2 {margin: 0px}
.c a {text-decoration: none;}
table {border-collapse:collapse}
td {border:solid 1px black; padding:5px}
td:first-child {white-space:nowrap}
td:last-child {font-style:italic}
.f {width:100%; text-align:right; font-style:italic; font-size:smaller}
hr {color: hsl(210,0%,95%);}
.f img {float: left}
.tabbertab a {font-weight: bold}
.tabbertab a.nobold {font-weight: normal;}
.kw {color: #8C61DF; font-weight: bold}

div.rl {width: 24em; height: 220px; border: solid #00695C 2px; border-top: none; right: 0; left: 0; margin-left: auto;margin-right: auto}
h2.rl {background-color:#E0F2F1; width: 14em; right: 0; left: 0; margin-left: auto;margin-right: auto; margin-top:-15px}
h2.rl, h2.rl * {color:orange;}
pre img {width: 100%}

@media screen and (max-width: 440px) { div.rl {width: 95%} }
