body {color: #FED; background-color: #765;}

a:link, a:visited {color: #E75;}
.ff a:link, .ff a:visited {color: #FED; text-decoration: none;}
.ff.lang a:link, .ff.lang a:visited {color: #E55; text-decoration: none;}
.ff
{
	padding: 3px;
	border-width: 8px;
	border-style: solid;
	border-left-color: #876;
	border-top-color: #A98;
	border-right-color: #CBA;
	border-bottom-color: #EDC;
	display: inline-block;
}

dfn {font-style: normal; text-decoration: #758FF9 underline wavy;}

pre {color: #00DD00; background-color: black;}
pre .com {color: #00EAE8;}
pre .lit {color: #8D8D8D;}
pre .aux {color: #758FF9;}
pre .dot {color: #E3C900;}
pre .key {color: #FF2600; font-weight: bold;}

.used {background-color: #E55;}
.lang {background-color: #FED; color: #E55;}