body
{
	color: #FED;
	background-color:#765;
}

a:link, a:visited {color:#E75}
.ff a:link, .ff a:visited {color: #FED; text-decoration: none;}
.ff.lang a:link, .ff.lang a:visited {color: #E55; text-decoration: none;}
.ff
{
	padding: 3px;
	border-width: 8px;
	border-style: solid;
	border-left-color: #876;
	border-top-color: #A98;
	border-right-color: #CBA;
	border-bottom-color: #EDC;
	display: inline-block;
}

dfn {font-style: normal; text-decoration: green underline wavy;}

pre { background-color:#543;}
pre .com {color:#876;}
pre .lit {color:#F77;}
pre .aux {color:#77F;}
pre .key {color:#FF7; font-weight:bold;}

.used { background-color: #E55; }
.lang { background-color: #FED; color: #E55; }