@import url(http://fonts.googleapis.com/css?family=Montserrat);
body {color:#033; background-color:#AAA; font-family:"Futura", "Montserrat", sans-serif}
.pic .p {color:#003355; padding-top:5px}
.pic {float:left; text-align:center; width:150px; height:250px; margin:5px; font-weight:bold; border:2px solid #888}
.pic img, .tile img {border:0px; max-height:100px}
.icon {height:80px;border:0px;margin:0px}
div, span.pic, span.p {display:block}
br {clear:both}
.last {width:100%; text-align:right; font-style:italic; font-size:smaller}
.tile a:link, .tile a:visited {color:#EEF}
a:link, a:visited {color:#039}
.pic:hover, .double:hover {background-color:#888}
h1 a img, h1 img {float:right; margin-left:50px; margin-bottom:50px}
code {font-family:"Courier Prime", Courier, monospace}
.help {color:#ffdec9; font-size:smaller; font-style:italic}
.card {float:left; text-align:left; width:485px; height:253px; margin:5px; font-weight:bold; border:2px solid #888; position: relative; background-color: #CCC; font-family:sans-serif}
.card > * {float: none; margin: 5px}
.card h1 {font-family:"Arial Rounded MT", sans-serif}
.card h6 {position: absolute; bottom: 0}
.card a[href] {color:#039;}
.card h1 {background: white;}
.dwi {color: white;}
li.dwi a {color: white}
li.dwi a, li.pl a {text-decoration: none;}
.dwi.A {background-color: #74b649;}
.dwi.E {background-color: #eb1c23;}
.dwi.I {background-color: #f6921e;}
.dwi.L {background-color: #ef5a28;}
.dwi.P {background-color: #d91c5c;}
.dwi.C {background-color: #1b75ba;}
.dwi.M {background-color: #5f3813;}
.dwi.S {background-color: #777777;}
.pl {background-color: white;}
.src {width: 50%; text-align:left; font-size:smaller; float: left; }
.src ul {padding-left: 1.5em; margin: 0;}
.pl.cpl, .pl.cpl a {color: #f44336;}
.pl.ppl, .pl.ppl a {color: #c2185b;}
.pl.eml, .pl.eml a {color: #9c27b0;}
.pl.pzpl,.pl.pzpl a {color: #7986cb;}
.pl.b6, .pl.b6 a {color: #2196f3;}
.pl.b7, .pl.b7 a {color: #00bcd4;}
.pl.b8, .pl.b8 a {color: #009688;}
.pl.b9, .pl.b9 a {color: #4caf50;}
/*https://material.io/guidelines/style/color.html#color-color-palette*/
hr{clear: both;}